.dot-flashing {
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  color: black;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% { opacity: 0.2; }
  50%,
  100% { opacity: 1; }
}

/* Para mobile, remover margem */
@media (max-width: 899px) {
  .content {
    margin-left: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
}

/* Personalização do overlay do MUI (opcional) */
.MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.5);
}
